<div class='building-state layout-row layout-align-start-center'>
  {{#if true}}
    {{paper-progress-circular diameter=25}}
    <span class='building-text'>Building...</span>
  {{else}}
    Output
    ({{#if buildErrors~}}
      <a {{action 'showErrors'}}>{{buildErrors.length}} build errors</a>
    {{~else~}}
      build ok.
    {{~/if}})
  {{/if}}
</div>