{{#paper-toolbar}}
  {{#paper-toolbar-tools class='main-toolbar-tools'}}
    {{#if isFirstColumn}}
      {{component sidebarToggle}}
    {{/if}}

    {{#paper-menu disabled=(not allFiles.length) position='target-right target' as |menu|}}
      {{#menu.trigger class='layout-column' data-test-column-files-menu=col}}
        {{#if allFiles.length}}
          {{#paper-button class='md-menu-origin'}}
            {{#if file}}
              <span class="file-path">{{file.filePath}}</span>
            {{else}}
              No file selected
            {{/if}}
            {{paper-icon 'arrow drop down'}}
          {{/paper-button}}
        {{else}}
          No files available
        {{/if}}
      {{/menu.trigger}}
      {{#menu.content width=2 as |content|}}
        {{#each allFiles as |file|}}
          {{#content.menu-item class='md-menu-align-target' onClick=(action 'selectFile' file)}}
            {{file.filePath}}
          {{/content.menu-item}}
        {{/each}}
      {{/menu.content}}
    {{/paper-menu}}

    <span class="flex"></span>

    {{#paper-menu position='target-left target' as |menu|}}
      {{#menu.trigger class='layout-column' data-test-column-actions-menu=col}}
        {{#paper-button class='md-menu-origin' iconButton=true}}
          {{paper-icon 'more vert'}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=2 as |content|}}
        {{#content.menu-item title='Hide this panel' onClick=(action 'removeColumn' col) data-test-column-remove-panel=col}}
          {{paper-icon 'close'}} Hide Panel
        {{/content.menu-item}}

        {{#if isLastColumn}}
          {{#content.menu-item title='Add another panel' onClick=(action 'addColumn') data-test-column-add-panel=col}}
            {{paper-icon 'add circle outline'}} Add Another Panel
          {{/content.menu-item}}
        {{/if}}

        {{paper-divider}}

        {{#content.menu-item class='md-menu-align-target' onClick=(action renameFile file elementId)}}
          {{paper-icon 'import export'}} Move {{file.filePath}}
        {{/content.menu-item}}

        {{#content.menu-item data-test-delete-file class='md-menu-align-target' onClick=(action removeFile file elementId)}}
          {{paper-icon 'delete'}} Delete {{file.filePath}}
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#if file}}
  {{ivy-codemirror
    value=file.content
    options=(hash
      mode=editorMode
      keyMap=keyMap
      lineNumbers=true
      fixedGutter=true
      lineWrapping=true
      tabSize=2)
    valueUpdated=(action "valueUpdated")
  }}
{{/if}}
