<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  File <b class="caret"></b>
</a>

<ul class="dropdown-menu dropdown-menu-left">
  <li>{{#link-to 'gist.new' class="test-new-twiddle" }}New Twiddle{{/link-to}}</li>
  {{#if model}}
    <li role="presentation" class="divider"></li>
    <li class="dropdown dropdown-submenu dropeven">
      <a data-toggle="dropdown">Add...</a>
      <ul class="dropdown-menu">
        <li><a {{on "click" (fn @addFile '')}}>Other (empty file)</a></li>
        <li class="dropdown dropdown-submenu">
          <a {{on "click" @addComponent}} class="add-component-link">Component (js and hbs)</a>
          <ul class="dropdown-menu">
            <li><a {{on "click" (fn @addFile 'component-hbs')}}>hbs only</a></li>
            <li><a {{on "click" (fn @addFile 'component-js')}}>js only</a></li>
          </ul>
        </li>
        <li><a {{on "click" (fn @addFile 'model')}}>Model</a></li>
        <li><a {{on "click" (fn @addFile 'controller')}}>Controller</a></li>
        <li><a {{on "click" (fn @addFile 'route')}} class="test-add-route-link">Route</a></li>
        <li><a {{on "click" (fn @addFile 'template')}} class="test-template-action">Template</a></li>
        <li><a {{on "click" (fn @addFile 'service')}} class="test-add-service-link">Service</a></li>
        <li><a {{on "click" @addHelper}} class="test-add-helper-link">Helper</a></li>
        <li><a {{on "click" (fn @addFile 'router')}}>Router</a></li>
        <li><a {{on "click" (fn @addFile 'css')}}>CSS</a></li>
        <li class="dropdown dropdown-submenu">
          <a data-toggle="dropdown">Tests</a>
          <ul class="dropdown-menu">
            <li><a {{on "click" @addAcceptanceTestFile}} class="test-add-acceptance-test-link">Acceptance</a></li>
            <li class="dropdown dropdown-submenu">
              <a data-toggle="dropdown">Integration</a>
              <ul class="dropdown-menu">
                <li><a {{on "click" (fn @addIntegrationTestFile 'component')}} class="test-add-component-test-link">Component</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu">
              <a data-toggle="dropdown">Unit</a>
              <ul class="dropdown-menu">
                <li><a {{on "click" (fn @addUnitTestFile 'controller')}}>Controller</a></li>
                <li><a {{on "click" (fn @addUnitTestFile 'route')}} class="test-add-route-test-link">Route</a></li>
                <li><a {{on "click" (fn @addUnitTestFile 'service')}}>Service</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    {{#if activeEditorCol}}
      <li><a {{on "click" (fn @renameFile activeFile)}} class="test-rename-action">Rename {{activeFile.filePath}}</a></li>
      <li><a {{on "click" (fn @renameFile activeFile)}} class="test-move-action">Move {{activeFile.filePath}}</a></li>
      <li><a {{on "click" (fn @removeFile activeFile)}} class="test-remove-action">Delete {{activeFile.filePath}}</a></li>
    {{/if}}
    {{#if session.isAuthenticated}}
      <li role="presentation" class="divider"></li>
      <li><a {{on "click" (fn @saveGist @model)}} class="test-save-action">Save to Github Gist</a></li>
      {{#unless model.isNew}}
        <li><a {{action 'share'}}>Share Twiddle</a></li>
        <li><a {{action 'embed'}}>Embed Twiddle</a></li>
        {{#if showFork}}
          <li><a {{on "click" (fn @fork @model)}} class="test-fork-action">Fork Twiddle</a></li>
        {{else}}
          <li><a {{on "click" @copy}} class="test-copy-action">Copy Twiddle</a></li>
        {{/if}}
        <li><a {{on "click" (fn @deleteGist @model)}} class="test-delete-action">Delete Twiddle</a></li>
        <li role="presentation" class="divider"></li>
        {{#if isRevision}}
          <li><a {{on "click" @showCurrentVersion}} class="test-show-current-version">Show Current Version</a></li>
        {{else}}
          {{#if model.history.length}}
            <li class="dropdown dropdown-submenu">
              <a data-toggle="dropdown">Previous Revisions</a>
              <ul class="dropdown-menu">
                {{#each model.history as |version|}}
                  <li><a {{on "click" (fn @showRevision version.id)}} class="test-version-action">{{version.shortId}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{/if}}
      {{/unless}}
    {{else}}
      <li><a {{on "click" @signInViaGithub}} class="test-sign-in-action">Sign in with Github to Save</a></li>
    {{/if}}
    <li role="presentation" class="divider"></li>
    <li><a {{on "click" @downloadProject}} class="test-download-project-action">Download Project</a></li>
  {{/if}}
</ul>
