{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#if (and isFirstColumn (eq (not sidenavLockedOpen 'gt-md')))}}
      {{#paper-button iconButton=true onClick=(action (mut sidenavLockedOpen) (if sidenavLockedOpen false 'gt-md'))}}
        {{paper-icon 'menu'}}
      {{/paper-button}}
    {{/if}}

    {{#if showFileTreeOpenIcon}}
      <span class="nav-left">
        <span class="hint--bottom hint--rounded" data-hint="Show project files" >
          <span class="glyphicon glyphicon-chevron-right" {{action 'showFileTree'}}></span>
        </span>
      </span>
    {{/if}}

    {{#paper-menu disabled=(not allFiles.length) position='target-right target' as |menu|}}
      {{#menu.trigger class='layout-column'}}
        {{#if allFiles.length}}
          {{#paper-button class='md-menu-origin'}}
            {{#if file}}
              {{file.filePath}}
            {{else}}
              No file selected
            {{/if}}
            {{paper-icon 'arrow drop down'}}
          {{/paper-button}}
        {{else}}
          No files available
        {{/if}}
      {{/menu.trigger}}
      {{#menu.content width=2 as |content|}}
        {{#each allFiles as |file|}}
          {{#content.menu-item class='md-menu-align-target' onClick=(action 'selectFile' file)}}
            {{file.filePath}}
          {{/content.menu-item}}
        {{/each}}
      {{/menu.content}}
    {{/paper-menu}}
    <span class="flex"></span>

    <span class="nav-right">
      {{#paper-button iconButton=true title='Hide this panel' onClick=(action 'removeColumn' col)}}
        {{paper-icon 'remove'}}
      {{/paper-button}}
      {{#if isLastColumn}}
        {{#paper-button iconButton=true title='Add another panel' onClick=(action 'addColumn')}}
          {{paper-icon 'add circle outline'}}
        {{/paper-button}}
      {{/if}}
    </span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#if file}}
  {{ivy-codemirror
    value=file.content
    options=(hash
      mode=editorMode
      keyMap=keyMap
      lineNumbers=true
      fixedGutter=true
      lineWrapping=true
      tabSize=2)
    valueUpdated="valueUpdated"
  }}
{{/if}}
