<div class="title">
  {{title-input value=@model.description titleChanged=@titleChanged}}
  {{saved-state-indicator model=@model unsaved=@unsaved isGistSaving=@isGistSaving}}
</div>

<div class="file-tree">
  <FileTree
    class="tree"
    @model={{@model}}
    @openFile={{@openFile}}
  >
    {{file-menu model=@model
              session=@session
              activeEditorCol=@activeEditorCol
              activeFile=@activeFile
              isRevision=@isRevision
              addFile=@addFile
              addHelper=@addHelper
              addComponent=@addComponent
              addUnitTestFile=@addUnitTestFile
              addIntegrationTestFile=@addIntegrationTestFile
              addAcceptanceTestFile=@addAcceptanceTestFile
              renameFile=@renameFile
              removeFile=@removeFile
              deleteGist=(route-action "deleteGist")
              saveGist=(route-action "saveGist")
              fork=(route-action "fork")
              copy=(route-action "copy")
              signInViaGithub=(route-action "signInViaGithub")
              showRevision=(route-action "showRevision")
              showCurrentVersion=(route-action "showCurrentVersion")
              downloadProject=(route-action "downloadProject")
    }}
  </FileTree>
</div>

<div class="menus">
  <ul class="main-menu">
    {{editor-mode-menu selectedKeyMap=@selectedKeyMap setKeyMap=@setEditorKeyMap}}
    {{versions-menu versionSelected=@versionSelected}}
  </ul>
</div>

