<nav class='navbar-default gist-header flex'>
  <div class='toolbar visible-toolbar layout-column'>
    <div class='title flex-8'>
      {{gist-card gist=model unsaved=unsaved
        isRevision=isRevision
        titleChanged=(action this.attrs.titleChanged)
        deleteGist=(route-action 'deleteGist')
        saveGist=(route-action 'saveGist')
        fork=(route-action 'fork')
        copy=(route-action 'copy')
        download=(route-action 'downloadProject')
      }}
    </div>

    <div class='twiddle-pane file-tree flex'>
      {{file-tree model=model
        openFile=(action this.openFile)
      }}
    </div>

    {{#paper-list class='layout-column main-menu flex-nogrow'}}
      {{file-menu model=model
        session=session
        activeFile=activeFile
        isRevision=isRevision
        addFile=(action this.attrs.addFile)
        addHelper=(action this.attrs.addHelper)
        addComponent=(action this.attrs.addComponent)
        addUnitTestFile=(action this.attrs.addUnitTestFile)
        addIntegrationTestFile=(action this.attrs.addIntegrationTestFile)
        addAcceptanceTestFile=(action this.attrs.addAcceptanceTestFile)
        deleteGist=(route-action 'deleteGist')
        saveGist=(route-action 'saveGist')
        fork=(route-action 'fork')
        copy=(route-action 'copy')
        signInViaGithub=(route-action 'signInViaGithub')
        showRevision=(route-action 'showRevision')
        showCurrentVersion=(route-action 'showCurrentVersion')
        downloadProject=(route-action 'downloadProject')
      }}

      {{paper-divider}}

      {{versions-menu model=model
        onVersionChanged=(action this.attrs.versionChanged)
        emberVersions=emberVersions
        emberDataVersions=emberDataVersions
      }}

      {{paper-divider}}

      {{user-menu session=session
        showProfile=(action showProfile)
        signInViaGithub=(route-action 'signInViaGithub')
        signOut=(route-action 'signOut')
        showTwiddles=(route-action 'showTwiddles')
      }}
    {{/paper-list}}
  </div>
</nav>
