<td class="test-gist-id">{{gist.id}}</td>
<td class="test-gist-updated-at">{{moment-format gist.updatedAt "ddd MMM D YYYY" allow-empty=true}}</td>
<td class="test-gist-twiddle-link"><LinkTo @route="gist.edit" @model={{gist.id}}>Twiddle</LinkTo></td>
<td class="test-gist-html-url"><a href={{gist.htmlUrl}}>Gist</a></td>
<td title={{filesTitle}} class="test-gist-numfiles">{{numFiles}} files</td>
<td class="test-gist-description">{{gist.description}}</td>
