<td>{{gist.id}}</td>
<td>{{moment-format gist.updatedAt "ddd MMM D YYYY"}}</td>
<td>{{#link-to 'gist.edit' gist.id}}Twiddle{{/link-to}}</td>
<td><a href={{gist.htmlUrl}}>Gist</a></td>
<td title={{filesTitle}}>{{numFiles}} files</td>
<td>{{gist.description}}</td>