<td class="test-gist-description">{{#link-to 'gist.edit' gist.id}}{{gist.description}}{{/link-to}}</td>
<td class="test-gist-html-url"><a href={{gist.htmlUrl}}>Gist</a></td>
<td class="test-gist-updated-at">{{moment-format gist.updatedAt "ddd MMM D YYYY"}}</td>
<td title={{filesTitle}} class="test-gist-numfiles">{{numFiles}} files</td>
<td class="test-gist-id">{{gist.id}}</td>