{{#if session.isOpening}}
  <li class="dropdown disabled signing-in">Signing in...</li>
{{else}}
  {{#if session.isAuthenticated}}
    <span class="user-avatar">
        <img src="{{session.currentUser.avatarUrl32}}" />
    </span>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{userName}} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a {{action 'signOut'}} class="test-sign-out">Sign out</a></li>
      </ul>
    </li>
  {{else}}
    <li><a {{action 'signInViaGithub'}} class="test-sign-in sign-in">Sign in with Github</a></li>
    <span class="user-avatar">
      <img class="github-logo" src="images/github32-inverse-faf2ee.svg" alt="Sign in with Github"/>
    </span>
  {{/if}}
{{/if}}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Help <b class="caret"></b>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="https://github.com/ember-cli/ember-twiddle" target="_blank">Ember Twiddle v{{version}}</a></li>
    <li><a href="https://github.com/ember-cli/ember-twiddle" target="_blank">Github</a></li>
    <li><a href="https://github.com/ember-cli/ember-twiddle/wiki" target="_blank">Wiki</a></li>
    <li><a href="https://github.com/ember-cli/ember-twiddle/issues" target="_blank">Issue tracker</a></li>
  </ul>
</li>
