<div class='profile-header layout-column layout-align-center-center'>
  <img class='user-avatar-large' src='{{session.currentUser.profileAvatarUrl}}' />
  <div class='user-info'>
    Logged in as <span class='name'>{{session.currentUser.login}}</span>
  </div>
{{!--
  <div class='user-details'>
    You have __ saved Twiddles.
  </div>
--}}
</div>

{{#paper-list class='layout-column flex'}}
  {{#paper-button onClick=hideProfile}}
    {{paper-icon 'chevron left'}} Back to Twiddle
  {{/paper-button}}
{{/paper-list}}

{{#paper-list class='profile-menu layout-column'}}
  {{#paper-button
    data-test-show-twiddles
    onClick=(route-action 'showTwiddles')}}
      {{paper-icon 'view list'}} My Saved Twiddles
  {{/paper-button}}
  {{paper-divider}}
  {{editor-mode-menu setKeyMap=(route-action 'setEditorKeyMap')}}
  {{paper-divider}}
  {{#if currentVersionLink}}
    <a href={{currentVersionLink}} target='_blank' data-test-current-version-link>
      {{#paper-button class='link-to'}}
        {{paper-icon 'open-in-new'}} Ember Twiddle {{v}}{{version}}
      {{/paper-button}}
    </a>
  {{/if}}
  <a href='https://github.com/ember-cli/ember-twiddle' target='_blank'>
    {{#paper-button class='link-btn'}}
      {{paper-icon 'code'}} Github
    {{/paper-button}}
  </a>
  <a href='https://github.com/ember-cli/ember-twiddle/issues' target='_blank'>
    {{#paper-button class='link-btn'}}
      {{paper-icon 'bug report'}} Issue Tracker
    {{/paper-button}}
  </a>
  {{paper-divider}}
  {{#paper-button data-test-sign-out onClick=(action 'signOut')}}
    {{paper-icon 'power settings new'}} Logout
  {{/paper-button}}
{{/paper-list}}
