{{#if session.isAuthenticated}}
  {{#paper-menu as |menu|}}
    {{#menu.trigger}}
      {{#paper-button}}
        <span class="user-avatar">
          <img src="{{session.currentUser.avatarUrl32}}" />
        </span>
        {{userName}} <b class="caret"></b>
      {{/paper-button}}
    {{/menu.trigger}}

    {{#menu.content width=4 as |content|}}
      {{#content.menu-item onClick='showTwiddles'}}
        My Saved Twiddles
      {{/content.menu-item}}

      {{paper-divider}}

      {{#content.menu-item onClick='signOut'}}
        Sign Out
      {{/content.menu-item}}
    {{/menu.content}}
  {{/paper-menu}}
{{else}}
  {{#paper-button class='signin-btn' disabled=session.isOpening onClick=(action 'signInViaGithub')}}
    {{paper-icon 'power settings new' size=21}}
    {{#if session.isOpening}}
      Signing In..
    {{else}}
      Sign In
    {{/if}}
  {{/paper-button}}
{{/if}}
