{{#if session.isAuthenticated}}
  {{#paper-button class='signed-in-btn' onClick=showProfile}}
    <span class="user-avatar">
      <img src="{{session.currentUser.avatarUrl38}}" />
    </span>
    {{userName}}
  {{/paper-button}}
{{else}}
  {{#paper-button class='signin-btn' disabled=session.isOpening onClick=(action 'signInViaGithub')}}
    {{paper-icon 'power settings new' size=21}}
    {{#if session.isOpening}}
      Signing In..
    {{else}}
      Sign In
    {{/if}}
  {{/paper-button}}
{{/if}}
