<div class="row toolbar">

  <div class="user-menu">
    {{#if session.isOpening}}
      Signing in&hellip;
    {{else if session.isAuthenticated}}
      {{session.currentUser.login}}
      <div class="submenu">
      <button {{action 'signOut'}}>Sign out</button>
      </div>
    {{else}}
      Anonymous user
      <div class="submenu">
      <button {{action "signInViaGithub"}}>Sign in</button>
      </div>
    {{/if}}
  </div>

  <div class="title">
    {{model.description}}
    {{#unless model.isNew}} @ {{model.currentRevision}}{{/unless}}
  </div>

  <div class="file-menu">
    <span>File</span>
    <div class="submenu">
      <button {{action 'addFile'}}>Add file</button>
      <button {{action 'saveGist' model}}>{{#if model.isNew}}Create{{else}}Save{{/if}}</button>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4 code">
    {{file-editor-column file=controller.col1File allFiles=model.files}}
  </div>

  <div class="col-md-4 code">
    {{file-editor-column file=controller.col2File allFiles=model.files}}
  </div>

  <div class="col-md-4 output">
    {{dummy-demo-app}}
  </div>

</div>