<div class="row toolbar">
  <ul class="nav nav-pills file-menu">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        File <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>{{#link-to 'gist.new'}}New Twiddle{{/link-to}}</li>
        <li role="presentation" class="divider"></li>
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">Add...</a>
          <ul class="dropdown-menu">
            <li><a {{action 'addFile' 'component-hbs'}}>Component (hbs)</a></li>
            <li><a {{action 'addFile' 'component-js'}}>Component (js)</a></li>
            <li><a {{action 'addFile' 'controller'}}>Controller</a></li>
            <li><a {{action 'addFile' 'template'}}>Template</a></li>
            <li><a {{action 'addFile' ''}}>Other (empty file)</a></li>
          </ul>
        </li>
        {{#if activeEditor}}
        <li><a {{action 'renameFile' activeEditor.file}}>Move {{activeEditor.file.filePath}}</a></li>
        <li><a {{action 'removeFile' activeEditor.file}}>Delete {{activeEditor.file.filePath}}</a></li>
        {{/if}}
        {{#if session.isAuthenticated}}
        <li role="presentation" class="divider"></li>
        <li><a {{action 'saveGist' model}}>Save to Github Gist</a></li>
        {{#unless model.isNew}}
        <li><a {{action 'share'}}>Share Twiddle</a></li>
        <li><a {{action 'fork' model}}>Fork Twiddle</a></li>
        <li><a {{action 'deleteGist' model}}>Delete Twiddle</a></li>
        {{/unless}}
        {{else}}
        <li><a {{action 'signInViaGithub'}}>Sign in with Github to Save</a></li>
        {{/if}}
      </ul>
    </li>
  </ul>

  <div class="title">
    {{!-- {{#if isEditingDescription}} --}}
    {{input value=model.description autoresize=true}}
    {{!-- {{model.description}} --}}
    {{#unless model.isNew}}
    <span>{{model.files.length}} files</span>
    <a class="gist-link" href="{{model.htmlUrl}}" target="_blank">saved to Gist, rev {{model.currentRevision}}</a>
    {{/unless}}
  </div>

  <ul class="nav nav-pills user-menu">
    {{#if session.isOpening}}
    <li><a href='#'>Signing in...</a></li>
    {{else if session.isAuthenticated}}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{session.currentUser.login}} <b class="caret"></b>
<span class="user-avatar"><img src="{{session.currentUser.avatarUrl32}}" /></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a {{action 'signOut'}}>Sign out</a></li>
      </ul>
    </li>
    {{else}}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Anonymous <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a {{action 'signInViaGithub'}}>Sign in</a></li>
      </ul>
    </li>
    {{/if}}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Help <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="https://github.com/alexspeller/ember-twiddle/tree/{{revision}}" target="_blank">Ember Twiddle v{{version}} ({{revision}})</a></li>
        <li><a href="https://github.com/alexspeller/ember-twiddle" target="_blank">Github</a></li>
        <li><a href="https://github.com/alexspeller/ember-twiddle/wiki" target="_blank">Wiki</a></li>
        <li><a href="https://github.com/alexspeller/ember-twiddle/issues" target="_blank">Issue tracker</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="row twiddle-panes">

  <div class="col-md-4 code {{if col1Active 'active' ''}}">
    {{file-editor-column col="1" file=col1File allFiles=model.files}}
  </div>

  <div class="col-md-4 code {{if col2Active 'active' ''}}">
    {{file-editor-column col="2" file=col2File allFiles=model.files}}
  </div>

  <div class="col-md-4 output">
    <div class="header">
      <span>
      {{#if isBuilding}}
      Building...
      {{else}}
        Output
        ({{#if buildErrors}}
          <a {{action 'showErrors'}}>{{buildErrors.length}} build errors</a>
        {{else}}
          build ok.
        {{/if}})
      {{/if}}
      </span>
    </div>
    {{dummy-demo-app code=buildOutput.code styles=buildOutput.styles}}
  </div>

</div>
