<div class="row">
  <div class="toolbar">
    {{#unless model.isNew}}
    <label>Gist URL: <span>{{model.url}}</span></label>
    <label>Revision: <span>{{model.shortRevision}}</span></label>
    <button {{action 'saveGist' model}}>{{#if model.isNew}}Create{{else}}Commit{{/if}}</button>

    {{/unless}}
  </div>

  <div class="user">
    {{#if session.isOpening}}
      Signing in&hellip;
    {{else if session.isAuthenticated}}
      Signed in as {{session.currentUser.login}}
      <button {{action 'signOut'}}>Sign out</button>
    {{else}}
      <button {{action "signInViaGithub"}}>Sign in</button>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-md-4 code">
  {{#dc-tabs}}
    {{#dc-tab-list}}
      {{#each controller.jsFiles as |file|}}
        {{#dc-tab}}
          {{file.name}}
          <button class="rename-file" {{action 'renameFile' file}}>&#9998;</button>
          <button class="remove-file" {{action 'removeFile' file}}>X</button>
        {{/dc-tab}}
      {{/each}}
    {{/dc-tab-list}}
    <button class="add-file" {{action 'addFile'}}>+</button>

    {{#each controller.jsFiles as |file|}}
      {{#dc-tab-panel}}
        {{ivy-codemirror
            value         = file.content
            mode          = 'javascript'
            theme         = 'solarized'
            lineNumbers   = true}}
      {{/dc-tab-panel}}
    {{/each}}
  {{/dc-tabs}}
  </div>

  <div class="col-md-4 templates">
  {{#dc-tabs}}
    {{#dc-tab-list}}
      {{#each controller.templateFiles as |file|}}
        {{#dc-tab}}
          {{file.name}}
          <button class="rename-file" {{action 'renameFile' file}}>&#9998;</button>
          <button class="remove-file" {{action 'removeFile' file}}>X</button>
        {{/dc-tab}}
      {{/each}}
    {{/dc-tab-list}}
    <button class="add-file" {{action 'addFile'}}>+</button>

    {{#each controller.templateFiles as |file|}}
      {{#dc-tab-panel}}
        {{ivy-codemirror
            value         = file.content
            mode          = 'javascript'
            theme         = 'solarized'
            lineNumbers   = true}}
      {{/dc-tab-panel}}
    {{/each}}
  {{/dc-tabs}}
  </div>


  <div class="col-md-4 output">
    <h2>Demo App</h2>
    {{dummy-demo-app}}
  </div>
</div>