<div class="row toolbar">
  <ul class="nav nav-pills file-menu">
    {{file-menu model=model
                session=session
                activeEditorCol=activeEditorCol
                activeFile=activeFile
                addFile=(action "addFile")
                addHelper=(action "addHelper")
                addComponent=(action "addComponent")
                renameFile=(action "renameFile")
                removeFile=(action "removeFile")
                deleteGist=(action "deleteGist")
                saveGist="saveGist"
                fork="fork"
                copy="copy"
                signInViaGithub="signInViaGithub"}}

    {{editor-mode-menu setKeyMap=(action "setEditorKeyMap")}}

    {{versions-menu versionSelected=(action "versionSelected")
                    emberVersions=emberVersions
                    emberDataVersions=emberDataVersions }}
  </ul>

  <div class="title">
    {{title-input value=model.description titleChanged=(action "titleChanged")}}
    {{saved-state-indicator model=model
                            unsaved=unsaved
    }}
  </div>

  {{user-menu session=session
              signInViaGithub="signInViaGithub"
              signOut="signOut"
              showTwiddles="showTwiddles"
  }}
</div>

{{#twiddle-panes numColumns=realNumColumns fullScreen=fullScreen fileTreeShown=fileTreeShown}}
  {{#unless fullScreen}}
    {{#if fileTreeShown}}
      <div class="col-md-4 file-tree">
        {{file-tree model=model
                    openFile=(action "openFile")
                    hideFileTree=(action "hideFileTree")
        }}
      </div>
    {{/if}}

    {{#each columns as |column|}}
      {{#if column.show}}
        <div class="col-md-4 code {{if column.active 'active' ''}}">
          {{file-editor-column col=column.col
                               file=column.file
                               allFiles=model.files
                               keyMap=settings.keyMap
                               numColumns=realNumColumns
                               fileTreeShown=fileTreeShown
                               contentsChanged="contentsChanged"
                               removeColumn=(action "removeColumn")
                               addColumn=(action "addColumn")
                               showFileTree=(action "showFileTree")
          }}
        </div>
      {{/if}}
    {{/each}}
  {{/unless}}

  <div class="col-md-4 output {{if fullScreen 'full-screen'}}">
    <div class="header">
      {{#if noColumns}}
        <span class="glyphicon glyphicon-plus" {{action 'addColumn'}} title="Show an editor panel"></span>
      {{/if}}
      {{build-messages notify=notify
                       isBuilding=isBuilding
                       buildErrors=buildErrors
      }}
    </div>
    {{run-or-live-reload liveReloadChanged="liveReloadChanged" runNow="runNow"}}
    <div class="url-bar">
      <div>{{applicationUrl}}</div>
    </div>
    {{dummy-demo-app html=buildOutput}}
    {{#if fullScreen}}
      <a class="exit-full-screen-link" {{action 'exitFullScreen'}}>Edit Twiddle</a>
    {{/if}}
  </div>
{{/twiddle-panes}}
