<div class="row toolbar">
  <ul class="nav nav-pills file-menu">
    {{file-menu model=model
                session=session
                activeEditorCol=activeEditorCol
                activeFile=activeFile
                addFile=(action "addFile")
                addComponent=(action "addComponent")
                renameFile=(action "renameFile")
                removeFile=(action "removeFile")
                saveGist="saveGist"
                fork="fork"
                deleteGist=(action "deleteGist")
                signInViaGithub="signInViaGithub"}}

    {{editor-mode-menu setKeyMap=(action "setEditorKeyMap")}}
  </ul>

  <div class="title">
    {{title-input value=model.description}}
    {{saved-state-indicator model=model
                            unsaved=unsaved
    }}
  </div>

  {{user-menu session=session
              version=version
              signInViaGithub="signInViaGithub"
              signOut="signOut"
  }}
</div>

<div class="row twiddle-panes">
  {{#each columns as |column|}}
    {{#if column.show}}
      <div class="col-md-4 code {{if column.active 'active' ''}}">
        {{file-editor-column col=column.col
                             file=column.file
                             allFiles=model.files
                             keyMap=settings.keyMap
                             numColumns=realNumColumns
                             contentsChanged="contentsChanged"
                             removeColumn=(action "removeColumn")
                             addColumn=(action "addColumn")
        }}
      </div>
    {{/if}}
  {{/each}}

  <div class="col-md-4 output">
    <div class="header">
      {{#if noColumns}}
        <span class="glyphicon glyphicon-plus" {{action 'addColumn'}}></span>
      {{/if}}
      {{build-messages notify=notify
                       isBuilding=isBuilding
                       buildErrors=buildErrors
      }}
    </div>
    {{run-or-live-reload liveReloadChanged="liveReloadChanged" runNow="runNow"}}
    <div class="url-bar">
      <div>{{applicationUrl}}</div>
    </div>
    {{dummy-demo-app html=buildOutput}}
  </div>

</div>
